/* FONT  */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: black;
    font-family: "Barlow", sans-serif;
    font-size: 62.5%;
}

/*<------------------------------------- BANNER ----------------------------------->*/

.NamePlate {
    height: 65rem;
    background: url(../IMAGES/HOME/Home01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: "Quantico", sans-serif;

}

.NamePlate h1 {
    width: 25rem;
    top: 25rem;
    left: 3rem;
    mix-blend-mode: color-dodge;
    position: relative;
    width: 22rem;
    color: white;
    transform: skewY(-19deg);
    font-size: 5rem;
    margin: 0rem;
    opacity: 0.2;
    transition: left 0.5s ease;
}

#Guardian {
    transform: skewY(-19deg);
    border-color: #fff;
    box-shadow: none;
}

#Fortitude {
    transform: skewY(-18deg);
}

#Security {
    transform: skewY(-18deg);
}

#Services {
    transform: skewY(-19deg);
}

/*<--------------------------------------------------- WHY CHOOSE US ? ---------------------------------------------->*/

.divtop p,
.divbottom p {
    font-size: 1.8rem;
}

#whychooseuslogo {
    height: 10vh;
}

/*<--------------------------------------------------------- BLOGS -------------------------------------------------->*/
.blog-1 a ,.blog-2 a ,.blog-3 a {
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 1.5rem;
    background-color: grey;
}   

.Blogs{
    display: flex;
    flex-wrap: wrap;
}

/*<------------------------------------------------------ MEDIA QUERY ---------------------------------------------->*/

/* FOR PHONES */
@media only screen and (max-width: 767px) {

    .NamePlate h1 {
        top: 10rem;
        font-size: 2.5rem;

    }

    .NamePlate {
        height: 35rem;
    }

    .divtop h1,
    .divbottom h2 {
        font-size: 1.5rem;
    }

    .divtop p,
    .divbottom p {
        font-size: 1.5rem;
    }
}

/* For Desktops */
@media only screen and (min-width: 1024px) {


}