/* FONT  */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: black;
    font-family: "Barlow", sans-serif;
    font-size: 65.7%;
}

/*<------------------------------------------------ QUOTE FORM -------------------------------------------------------------->*/

.quote-form-div {
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.quote-para {
    font-size: 1.7rem;
    width: 106.5rem;
    margin-top: 2.5rem;
    position: relative;
    left: 15.5rem;
    display: flex;
    color: white;
    font-family: 'Barlow', sans-serif;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}



/*<----------------------------------- BANNER  ------------------------------------------------->*/

.quote-banner h1 {
    transform: translateY(-550%);
    text-align: left;
    padding-left: 20rem;
    font-size: 3rem;
}

.quote-banner img {
    overflow: hidden;
    height: 25rem;
    filter: blur(4px);
}

/*<--------------------------------- QUOTATION ----------------------------------------------->*/

.quote-para input {
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 1.5rem;
    margin-left: 10px;
    width: 15rem;
    background-color: transparent;
    color: grey;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    text-decoration: none;
    border: 2px solid transparent;
}

.quote-para input:hover {
    background-color: rgb(99, 23, 23);
}

.quote-para-drop {
    width: 13rem;
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #52545f;
    background-color: transparent;
    border: 1px solid transparent;
}

.quote-para-drop option {
    font-family: 'Barlow', sans-serif;
    background-color: black;
}

.quote-send {
    padding: 1rem;
    border-radius: 10%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;
    left: 60rem;
    width: 8rem;
    font-size: 2.5rem;
    text-decoration: none;
    border: 2px solid grey;
    background-color: transparent;
    color: white;
}

.quote-send:hover {
    border-color: rgb(40, 157, 235);
}

@media only screen and (max-width: 767px) {
    .quote-banner h1 {
        transform: translateY(-175%);
        text-align: right;
        padding-right: 15rem;
        font-size: 3rem;
    }

    .quote-banner img {
        height: 15rem;
    }

}