/* FONT  */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: black;
    font-family: "Barlow", sans-serif;
    font-size: 65.7%;
}

/*<----------------------------------- BANNER  ------------------------------------------------->*/

.service-banner h1 {
    transform: translateY(-550%);
    text-align: right;
    padding-right: 40rem;
    font-size: 3rem;
}

.service-banner img {
    height: 25rem;
}

/*<--------------------------------- SERVICES ------------------------------------------------->*/

.dropdown-content {
    width: 70%;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    padding: 0;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.dropdown-open .dropdown-content {
    max-height: 200px;
    opacity: 1;
    padding: 1rem;
}

.weprovide{
    letter-spacing: 2px;
}


.heading-container {
    width: 100%;
    background-color: black;
    position: relative;
    display: inline-block;
}
.heading-large {
    opacity: 0.2;
    font-weight: bolder;
    font-size: 15rem; /* Adjust as needed */
    color: grey;
    font-weight: bold;
}
.heading-normal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8.5rem; /* Adjust for desired size */
    color: white;
    font-weight: 400;
}

.dropdown-content div p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
}

.weprovideimg {
    border: 1px solid grey;
    border-radius: 2rem;
    height: 15rem;
}

.weprovidelogo {
    background-color: #fff;
    border-radius: 1rem;
    transform: scaleX(-1);
    height: 4rem;
}

.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.user-heading {
    letter-spacing: 2px;
    width: max-content;
    text-align: center;
    border-bottom: 2px solid maroon;
}

.transition-effect {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
    color: #fff;
}

.transition-effect.active {
    opacity: 1;
    transform: translateY(-25px);
}

input {
    width: 100%;
    color: #fff;
    background: transparent;
    outline: none !important;
    text-align: center;
    border: none;
    padding: 15px 0;
}

#contactinput::-webkit-outer-spin-button,
#contactinput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.leftdiv,
.rightdiv {
    position: relative;
    width: 40%;
}

.leftdiv input,
.rightdiv input {
    margin-top: 40px;

}

#contact-label,
#location-label {
    top: 200%;

}


/* <---------------------------------------------------- CHOOSE SERVICE ------------------------------------------------------------------>*/
.radio-container {
    display: flex;
    justify-content: space-around;   
    width: 100%;                    
}

.column {
    display: flex;
    flex-direction: column;          
    align-items: flex-start;       
}

.checkbox-box {
    display: flex;
    align-items: center;             
    margin-bottom: 10px;            
}

.checkbox-box input[type="checkbox"] {
    width: 20px;                     
    height: 20px;                
    margin-right: 30px;   
}

label {
    margin-left: 0px;        
    position: relative;
    left: 50px;          
}


.chooseservice{
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.submitbutton-container{
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.submitbutton-container a{
    border-radius:0.7rem;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
    background-color: rgb(43, 43, 43);
    text-decoration: none; 
    outline: none;
    border: none;
    cursor: pointer;
}

.submitbutton-container a:hover{
    background-color: rgb(65, 64, 64);
}

@media only screen and (max-width: 767px) {

    .service-banner h1 {
        transform: translateY(-277%);
        text-align: right;
        padding-right: 15rem;
        font-size: 3rem;
    }

    .weprovide ul li h2 {
        font-size: 0.5rem;
    }

    .weprovidelogo {
        border-radius: 0.5rem;
        height: 2rem;
    }

    .dropdown-open .dropdown-content {
        max-height: 15rem;
    }

    .dropdown-content div p {
        font-size: 0.5rem;
        width: 30rem;
    }

    .weprovideimg {
        height: 6rem;
    }

    .service-banner img {
        height: 15rem;
    }

    .radio-container {
        flex-direction: column;   
        justify-content: center;    
        align-items: center;      
    }

    .column {
        width: 100%;           
        max-width: 400px;   
    }

    label {
        left: 30px;         
    }
}