/* FONT  */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: black;
    font-family: "Barlow", sans-serif;
    font-size: 65.7%;
}

/*<----------------------------------- BANNER  ------------------------------------------------->*/
.contactus-banner {
    position: relative; /* Ensure the h1 is positioned relative to the banner */
    width: 100%; /* Ensure the banner spans the full width */
    height: 25rem; /* Set a fixed height */
}

.contactus-banner img {
    width: 100%;
    height: 100%; /* Match the height of the banner */
    filter: blur(2px);
    object-fit: cover; /* Ensure the image fits within the container */
    position: absolute; /* Position the image absolutely */
    top: 0;
    left: 0;
    z-index: 1; /* Ensure the image is below the text */
}

.contactus-banner h1 {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3.5rem;
    z-index: 2; /* Ensure the text appears above the image */
    color: white; /* Ensure text color stands out */
}

/*<--------------------------------------------------- PRODUCT CARDS  ----------------------------------------------------->*/
.Product-head {
    font-family: 'Barlow', sans-serif;
    font-size: 3rem;
    border-bottom: 2px solid maroon;
    width: fit-content;
    margin: 0 auto;
    /* Center horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444;
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    z-index: 1;
    border: 2px solid grey;
    border-radius: 20%;
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
    position: absolute;
    content: "";
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
    transform: scale(1.2, 1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Luxury Vehicals/Mercedes-G63.jpg") no-repeat center;
    background-size: contain;
    transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Luxury Vehicals/Range-Rover.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-3 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Luxury Vehicals/Rolls-Royce.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-4 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Luxury Vehicals/Mercedes-S680-Maybach.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-5 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Luxury Vehicals/Toyota-Land-Cruiser-300.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-6 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Luxury Vehicals/Lexus-LX-600.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-7 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Luxury Vehicals/Toyota-Camry.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-8 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Luxury Vehicals/Cadillac-Escalade.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-9 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Tactical Vehicals/ARMORED SWAT Vehicle.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-10 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Tactical Vehicals/ARMORED 6X6.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-11 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Tactical Vehicals/ARMORED 8 Seater PCV.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-12 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Tactical Vehicals/ARMORED 12 Seater PCV.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-13 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Tactical Vehicals/ARMORED HUMMER APC.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-14 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Tactical Vehicals/ARMORED 10 Seater PCV.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-15 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Tactical Vehicals/ARMORED 4 Seater Pickup.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-16 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Tactical Vehicals/ARMORED 2 Seater Pickup.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-17 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Light Armored Vehicals/Toyota-Land-Cruiser-79-CIT-thumb.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-18 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Light Armored Vehicals/GMC-Savana-CIT-thumb.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-19 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Light Armored Vehicals/Toyota-Hilux-Double-Cab-thumb.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-20 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Light Armored Vehicals/Toyota-Hiace-CIT-thumb.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-21 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Light Armored Vehicals/Mercedes-Actros-thumb.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-22 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Light Armored Vehicals/Ashok-Leyland-Falcon-thumb.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-23 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Light Armored Vehicals/Toyota-Hiace-Commuter-thumb.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-24 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Light Armored Vehicals/Toyota-Coaster-thumb.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-25 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/MRAP/ARMORED Cougar.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-26 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/MRAP/ARMORED M-ATV.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-27 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/MRAP/ARMORED Temsah.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-28 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/MRAP/ARMORED ATV.jpg") no-repeat center;
    background-size: contain;
    transform: scaleX(-1);
}

.section-products #product-29 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/MRAP/ARMORED Typhoon.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-30 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/MRAP/ARMORED Kamaz.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-31 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Riot Control/INKAS.jpg") no-repeat center;
    background-size: contain;
    transform: scaleX(-1);
}

.section-products #product-32 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Riot Control/Monster.jpg") no-repeat center;
    background-size: contain;
    transform: scaleX(-1);
}

.section-products #product-33 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Riot Control/Alpine.jpg") no-repeat center;
    background-size: contain;
    transform: scaleX(-1);
}

.section-products #product-34 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Riot Control/Scania.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-35 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Riot Control/IAG.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-36 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Riot Control/CxxM.jpg") no-repeat center;
    background-size: contain;
    transform: scaleX(-1);
}

.section-products #product-37 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Riot Control/Telcoline.jpg") no-repeat center;
    background-size: contain;
    transform: scaleX(-1);
}

.section-products #product-38 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Riot Control/TM-170.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-39 .part-1::before {
    background: url("../../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Amphibious Tactical Vehicals/BAE-ACV-30.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-40 .part-1::before {
    background: url("./../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Amphibious Tactical Vehicals/AAV-7.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-41 .part-1::before {
    background: url("./../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Amphibious Tactical Vehicals/") no-repeat center;
    background-size: contain;
}

.section-products #product-42 .part-1::before {
    background: url("./../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Amphibious Tactical Vehicals/Terrex-2.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-43 .part-1::before {
    background: url("./../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Amphibious Tactical Vehicals/PTS-2.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-44 .part-1::before {
    background: url("./../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Amphibious Tactical Vehicals/Lockheed-Martin-Gibbs.jpg") no-repeat center;
    background-size: contain;
}

.section-products #product-45 .part-1::before {
    background: url("./../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Amphibious Tactical Vehicals/") no-repeat center;
    background-size: contain;
}

.section-products #product-46 .part-1::before {
    background: url("./../../IMAGES/PRODUCTS/Local-Images/Specialized Vehicals/Amphibious Tactical Vehicals/") no-repeat center;
    background-size: contain;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 2px;
    color: #ffffff;
    background-color: maroon;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: maroon;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
    font-size: 1.2rem;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 2.5rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1.5rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

@media only screen and (max-width: 767px) {

    .contactus-banner h1 {
        transform: translateY(-200%);
        text-align: center;
        padding-left: 0rem;
        font-size: 3rem;
    }
}