/* FONT  */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    background-color: black;
    font-family: "Barlow", sans-serif;
    font-size: 65.7%;
}

/*<------------------------------------------------------- CAROUSEL ------------------------------------------------------------------> */


.text-primary {
    position: relative;
    bottom: 63rem;
    font-size: 5rem;
}

.topic {
    position: relative;
    bottom: 63rem;
    font-size: 5rem;
    color: rgb(131, 29, 29);
}

.text-secondary {
    position: relative;
    bottom: 63rem;
    font-size: 3rem;
}

.armor-intro {
    height: 0rem;
    font-size: 1.9rem;
    padding: 0rem 3rem;
    position: relative;
    bottom: 45rem;
}

/*<--------------------------------------------------- PRODUCT CARDS  ----------------------------------------------------->*/

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.Product-head {
    font-size: 4rem;
    border-bottom: 2px solid rgb(131, 29, 29);
    width: fit-content;
}

.Product-head-2 {
    font-size: 4rem;
    border-bottom: 2px solid rgb(131, 29, 29);
    width: fit-content;
    position: relative;
    left: 45rem;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444;
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    border: 1px solid rgb(131, 29, 29);
    border-radius: 20%;
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: all 0.3s;
}


.section-products .single-product:hover .part-1::before {
    transform: scale(1.2, 1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/Kavro%20Ballistic%20Helmets/ACH%20Combat%20Helmets/Kavro%20ACH-126T/Mandible-Helmet_Right_463_72-dpi-228x228.png") no-repeat center;
    background-size: auto;
    transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/Kavro%20Ballistic%20Helmets/ACH%20Combat%20Helmets/Kavro%20ACH-4/MKH-ACH-4-Product-Left-228x228.png") no-repeat center;
    background-size: auto;
}

.section-products #product-3 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/Kavro%20Ballistic%20Helmets/ACH%20Combat%20Helmets/Kavro%20ACH-126%20T/Kavro%20ACH-126%20T%20(1)-228x228.png") no-repeat center;
    background-size: auto;
}

.section-products #product-4 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/Kavro%20Ballistic%20Helmets/ACH%20Combat%20Helmets/Kavro%20ACH-125%20T/Kavro%20ACH-125%20T%20(4)-228x228.png") no-repeat center;
    background-size: auto;
}

.section-products #product-5 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/Kavro%20Ballistic%20Helmets/Accessories/Kavro%20Visors/KAVRO-VD-20-SM_Product_Image-228x228.png") no-repeat center;
    background-size: auto;
}

.section-products #product-6 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/Kavro%20Ballistic%20Helmets/Accessories/Kavro%20Ballistic%20Eyewear/KAVRO-BALLISTIC-EYEWEAR-(3)-228x228.png") no-repeat center;
    background-size: auto;
}

.section-products #product-7 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/Kavro%20Ballistic%20Helmets/Accessories/Kavro%20Visors/VD-06%20FM/VD-06-FM-(3)-228x228.png") no-repeat center;
    background-size: auto;
}

.section-products #product-8 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/Kavro%20Ballistic%20Helmets/ACH%20Combat%20Helmets/Kavro-ACH-114%20T/Kavro-ACH-114T-Left-463x421.png") no-repeat center;
    background-size: contain;
}

.section-products #product-9 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/Kavro%20Ballistic%20Vest/Covert%20Overvests/TAC-II%20(FR)-228x228.png") no-repeat center;
    background-size: auto;
}

.section-products #product-10 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/Kavro%20Ballistic%20Vest/Tactical%20Overvests/PLATE%20CARRIER/Plate_Carrier_Side-228x228.png") no-repeat center;
    background-size: auto;
}

.section-products #product-11 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/Kavro%20Ballistic%20Vest/Special%20Purpose%20Vest/EXTRA%20PROTECTION%20VEST/Extra_Portection_Vest-1-228x228.png") no-repeat center;
    background-size: auto;
}

.section-products #product-12 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/Kavro%20Ballistic%20Vest/Protech%20Overvests/FRONT%20OPENING%20OVER%20VEST/Left_Opening_OverVest-228x228.png") no-repeat center;
    background-size: auto;
}

.section-products #product-13 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/Kavro-TAC-I-IIA+_mood-shot-228x228.png") no-repeat center;
    background-size: auto;
}

.section-products #product-14 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/Kavro%20Ballistic%20Vest/Tactical%20Overvests/FRONT%20OPENING%20VEST/front-image-228x228.png") no-repeat center;
    background-size: auto;
}

.section-products #product-15 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/Kavro%20Ballistic%20Vest/Tactical%20Overvests/BODY%20ARMOUR%20WITH%20UPPER%20BODY%20EXO/KAVRO-TAC-I-IIB+_Product-image-228x228.png") no-repeat center;
    background-size: auto;
}

.section-products #product-16 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/Kavro%20Ballistic%20Vest/Tactical%20Overvests/Tactical%20vest%20TAC-I-XI-A+/Vest-TAC-I-XI-A+-228x228.png") no-repeat center;
    background-size: auto;
}

.section-products #product-17 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/SHIELDS/SOFT%20SHIELD/BALLISTIC%20BRIEFCASE_SPB-I-IA/Ballistic_%20briefcase_SPB_Side-228x228.png") no-repeat center;
    background-size: auto;
}

.section-products #product-18 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/SHIELDS/HARD%20SHIELD/MSH-11-Shield-Side-228x228.png") no-repeat center;
    background-size: auto;
}

.section-products #product-19 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/SHIELDS/HARD%20SHIELD/MSH-08-228x228.png") no-repeat center;
    background-size: auto;
}

.section-products #product-20 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/SHIELDS/HARD%20SHIELD/HARD%20SHIELDS_MHS-03/HARD-SHIELDS-MSH-03-228x228.png") no-repeat center;
    background-size: auto;
}

.section-products #product-21 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/SHIELDS/HARD%20SHIELD/HARD%20SHIELDS_MHS-04/HARD%20SHIELDS_MHS-04%20(2)-228x228.png") no-repeat center;
    background-size: auto;
}

.section-products #product-22 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/SHIELDS/HARD%20SHIELD/HARD%20SHIELDS_MHS-01/HARD%20SHIELDS_MHS-01%20(2)-228x228.png") no-repeat center;
    background-size: auto;
}

.section-products #product-23 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/SHIELDS/HARD%20SHIELD/HARD%20SHIELDS_MHS-02/HARD%20SHIELDS_MHS-02%20(2)-228x228.png") no-repeat center;
    background-size: auto;
}

.section-products #product-24 .part-1::before {
    background: url("https://www.mku.com/image/cache/catalog/SHIELDS/SOFT%20SHIELD/MULTI%20PURPOSE%20SHIELD_SPS-FD-1A/MULTI%20PURPOSE%20SHIELD_SPS-FD-1A%20(4)-228x228.png") no-repeat center;
    background-size: auto;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 2px;
    color: #ffffff;
    background-color: rgb(131, 29, 29);
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: rgb(131, 29, 29);
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
    font-size: 1.2rem;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 2.5rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1.5rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

@media only screen and (max-width: 767px) {
    .gear-banner img {
        width: 100%;
    }

    .armor-intro {
        height: min-content;
        font-size: 1rem;
        width: 100%;
        text-align: center;
        bottom: 0rem;
    }

    .text-primary {
        bottom: 25rem;
        font-size: 2rem;
    }

    .text-secondary {
        bottom: 24rem;
        font-size: 2rem;
    }

    .topic {
        bottom: 21rem;
        font-size: 2rem;
    }

    .Banner-title {
        position: relative;
        top: 15rem;
    }
}