/* FONT  */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: black;
    font-family: "Barlow", sans-serif;
    font-size: 65.7%;
}

/*<----------------------------------- BANNER  ------------------------------------------------->*/

.armoury-banner h1 {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    font-size: 3.5rem;
}

.armoury-banner {
    position: relative; 
}

.armoury-banner img {
    overflow: hidden;
    height: 25rem;
    width: 100%; 
    filter: blur(2px);
    object-fit: cover; 
}

/*<--------------------------------------------- SVG SCROLL ------------------------------------------->*/
.scroll-container {
    display: flex;
    justify-content: space-between;
    overflow-x: auto; /* Horizontal scrolling only */
    overflow-y: hidden; /* Disable vertical scrolling */
    padding: 10px;
    background-color: #000; /* Black background */
    gap: 20px;
}

.svg-item {
    flex: 0 0 auto;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.svg-item:hover {
    transform: scale(1.1);
}

.svg-item svg {
    width: 63.4px;
    height: auto;
}

.svg-label {
    margin-top: 5px;
    color: white;
    font-size: 14px;
    font-family: 'Barlow', sans-serif;
    text-align: center;
}




